// FONTS
@font-face {
  font-family: 'Open Sans';
  src: url('./assets/fonts/Open_Sans/OpenSans-Regular.ttf') format("truetype")
}
$family-sans-serif: "Open Sans", sans-serif;

@import "~bulma/sass/utilities/_all";

// COLORS
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #f9f9f8;

$primary: $purple;
$primary-invert: findColorInvert($primary);

$colors: (
  "primary": ($primary, $primary-invert),
  "info": ($info, $info-invert),
  "success": ($success, $success-invert),
  "warning": ($warning, $warning-invert),
  "danger": ($danger, $danger-invert),
  );

$body-background-color: $beige-lighter;
  
@import "~bulma";
@import "~buefy/src/scss/buefy";